{{#each piData}}
<div class=" col-lg-4 col-md-6 col-sm-12 mt-3 pt-5">
  <div class="card text-white {{#eq this.current_status "normal"}} bg-success {{/eq}} {{#eq this.current_status "alarm"}} bg-danger {{/eq}} mb-3" >
    <div class="card-header text-center">PI Station ID : {{this.pi_id}}</div>
    <div class="card-body">
      <h6 class="card-title text-center">{{this.pi_name}}</h6>
      <ul class="list-group">
        {{#each this.sensors}}
        <li class="list-group-item {{#eq this.sensor_status "normal"}} list-group-item-success{{/eq}} {{#eq this.sensor_status "alarm"}} list-group-item-danger{{/eq}} pt-1 pb-1" >
          <i class="fas fa-{{this.sensor_icon}} pr-3" style="font-size: 30px;"></i>  {{this.sensor_name}} : <span class="badge {{#eq this.sensor_status "normal"}} badge-success{{/eq}} mt-2 {{#eq this.sensor_status "alarm"}} badge-danger{{/eq}} float-right">{{this.sensor_value}}{{this.sensor_uom}}</span>
        </li>
        {{/each}}
      </ul>
    </div>
    <button class="btn {{#eq this.current_status "normal"}} btn-danger {{/eq}} {{#eq this.current_status "alarm"}} btn-success {{/eq}}">More Info</button>
  </div>
</div>
{{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(function () {
    const piEvents = {
      PI_COV_FROM_SERVER:"pi_cov_from_server",
      USER_COV_FROM_SERVER:"user_cov_from_server",
      PI_COV_FROM_PI:"pi_cov_from_pi",
      USER_COV_FROM_USER:"user_cov_from_user",
    }
    var socket = io('/?group=user_station');
    socket.on(piEvents.PI_COV_FROM_SERVER,(msg)=>{
      console.log("PI Station has triggered a COV", msg)
    })
    $("#test_cov_button").click(()=>{
      console.log("TEST_COV Triggered")
      const data = "Data from User"
      socket.emit(piEvents.USER_COV_FROM_USER, data)
    }) 
  })
</script>